<h1>Enter a dictator below!</h1>

<form [formGroup]="dictatorForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName" class="form-control" [class.is-invalid]="dictatorForm.get('firstName')?.invalid &&
        dictatorForm.get('firstName')?.touched" formControlName="firstName">
    </div>

    <div>
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" name="lastName" class="form-control" [class.is-invalid]="dictatorForm.get('lastName')?.invalid &&
        dictatorForm.get('lastName')?.touched" formControlName="lastName">
    </div>

    <div>
        <label for="birthYear">Birth Year:</label>
        <input type="number" id="birthYear" name="birthYear" class="form-control" [class.is-invalid]="dictatorForm.get('birthYear')?.invalid &&
        dictatorForm.get('birthYear')?.touched" formControlName="birthYear">
    </div>

    <div>
        <label for="deathYear">Death Year:</label>
        <input type="number" id="deathYear" name="deathYear" class="form-control" [class.is-invalid]="dictatorForm.get('deathYear')?.invalid &&
        dictatorForm.get('deathYear')?.touched" formControlName="deathYear">
    </div>

    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" class="form-control" [class.is-invalid]="dictatorForm.get('description')?.invalid &&
        dictatorForm.get('description')?.touched" formControlName="description">
    </div>

    <input type="submit" class="btn btn-primary" [disabled]="!dictatorForm.valid" value="Add dictator">
</form>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Birth year</th>
        <th>Death year</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let dictator of dictators">
        <td>{{ dictator.firstName }}</td>
        <td>{{ dictator.lastName }}</td>
        <td>{{ dictator.birthYear }}</td>
        <td>{{ dictator.deathYear }}</td>
        <td>{{ dictator.description }}</td>
        <td><button class="btn btn-danger" (click)="removeDictator(dictator.id)">Remove {{ dictator.id }}</button></td>
    </tr>
</table>